*
  vertical-align baseline
  margin 0
  padding 0
  border none
  outline none
  background transparent
  font-size 100%
  user-select none
  cursor default

div
  box-sizing border-box

ul
  list-style none

a,
button
  cursor pointer