// ---- FONTS ---- //
// Bowlby One
@font-face
  font-family BowlbyOne
  font-weight normal
  font-style normal
  src url(fonts/BowlbyOne-Regular.ttf)

// ---- Raleway ---- //
@font-face
  font-family Raleway
  font-weight light
  font-style normal
  src url(fonts/Raleway-Light.ttf)
@font-face
  font-family Raleway
  font-style normal
  src url(fonts/Raleway-Regular.ttf)
@font-face
  font-family Raleway
  font-weight normal
  font-style italic
  src url(fonts/Raleway-Italic.ttf)
@font-face
  font-family Raleway
  font-weight 600
  font-style normal
  src url(fonts/Raleway-SemiBold.ttf)
@font-face
  font-family Raleway
  font-weight bold
  font-style normal
  src url(fonts/Raleway-Bold.ttf)
@font-face
  font-family Raleway
  font-weight 900
  font-style normal
  src url(fonts/Raleway-Black.ttf)


// ---- FONT STYLES ---- //
body
  font-family "Raleway", sans-serif
  font-size 16px