// ---- CORE STYLES ---- //
.menu
  z-index 100

  .item
    text-align center
    width 150px
    font-family "Raleway"
    font-weight 800
    text-transform uppercase
    cursor pointer
    transition .15s ease-in-out


// ---- SPLASH MENUS ---- //
.splash.menu
  display flex
  align-items center
  justify-content center
  position absolute
  bottom 50px
  width 100%

  .item
    margin 0 15px
    padding 14px 0
    background-color rgba(255,255,255,.25)
    box-shadow 0 1px 3px rgba(50,50,50,.15)
    color white

    &:hover
      background-color rgba(255,255,255,.5)
      text-shadow 0 1px 1px rgba(0,0,0,.5)