.hero
  display flex
  align-items center
  justify-content center
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  background-size cover
  &.desert
    background-image url('../../assets/images/hero/desert.jpg')
  &.forest
    background-image: url('../../assets/images/hero/forest.jpg')
  &.jungle
    background-image: url('../../assets/images/hero/jungle.jpg')
  &.mountain
    background-image: url('../../assets/images/hero/mountain.jpg')
  &.ocean
    background-image: url('../../assets/images/hero/ocean.jpg')
  &.tundra
    background-image: url('../../assets/images/hero/tundra.jpg')


// ---- MASK ---- //
.hero
  > .mask
    position absolute
    height 100%
    width 100%
    background-color #f5ebcf
    opacity .15


// ---- TITLE GROUP ---- //
.hero
  .title-group
    width 100%
    text-align center

    .title,
    .subtitle
      color white
      text-transform uppercase
      text-shadow 0 1px 2px rgba(0,0,0,0.5), 0px 3px 25px rgba(0,0,0,.25)

    .title
      font-family "BowlbyOne"
      font-weight 900
      line-height 1.15

    .subtitle
      font-weight 600
      line-height 1.35

@media screen and (max-width: 414px)
  .hero .title-group
    .title
      margin-bottom 20px
      font-size 2.75em
      word-spacing 100vw
    .subtitle
      font-size 1.25em

@media screen and (min-width: 415px) and (max-width: 1024px)
  .hero .title-group
    .title
      margin-bottom 10px
      font-size 2.75em
    .subtitle
      font-size 1.25em

@media screen and (min-width: 1025px)
  .hero .title-group
    .title
      margin-bottom 10px
      font-size 3em
    .subtitle
      font-size 1.5em